.DS_Store
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Data & artifacts (regeneratable / large)
data/raw/
data/processed/
custom_tokenizer/
t5_nano_checkpoints/
final_model/
*.zip

# Common envs
.venv/
venv/
env/
.env

